<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="text-center border border-light p-5" action="#!">
                <p class="h4 mb-4">Panel de control de horarios</p>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Convalidados
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col" *ngFor="let dia of dias">
                                        <a class="btn btn-primary" (click)="GetHorarios(dia.id,'1')"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">{{dia.dia_nombre}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Paralelo A
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col" *ngFor="let dia of dias">
                                        <a class="btn btn-primary" (click)="GetHorarios(dia.id,'2')"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">{{dia.dia_nombre}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Paralelo B
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col" *ngFor="let dia of dias">
                                        <a class="btn btn-primary" (click)="GetHorarios(dia.id,'3')"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">{{dia.dia_nombre}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                Paralelo C
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col" *ngFor="let dia of dias">
                                        <a class="btn btn-primary" (click)="GetHorarios(dia.id,'4')"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">{{dia.dia_nombre}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                Paralelo D
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col" *ngFor="let dia of dias">
                                        <a class="btn btn-primary" (click)="GetHorarios(dia.id,'5')"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">{{dia.dia_nombre}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                Regular o Convalidado
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col" *ngFor="let dia of dias">
                                        <a class="btn btn-primary" (click)="GetHorarios(dia.id,'6')"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">{{dia.dia_nombre}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Horario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let horario of horarios">
                            <td>{{horario.hora.hora_inicio}}</td>
                            <td>
                                <input (keyup)="UpdateCantidad(horario,$event)" type="text" value="{{horario.cantidad}}"
                                    maxlength="2" size="2">
                            </td>
                            <td>
                                <input (change)="UpdateEstado(horario,$event)" type="checkbox" class="btn-check"
                                    [checked]="horario.estado" id="Check{{horario.id}}">
                                <label *ngIf="horario.estado" class="btn btn-success"
                                    for="Check{{horario.id}}">Activo</label>
                                <label *ngIf="!horario.estado" class="btn btn-danger"
                                    for="Check{{horario.id}}">Activar</label>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>